body{
  background: rgba(148,187,233,1);
}
.container{
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(75, 157, 212);
  box-shadow: 0px 0px 10px rgb(54, 54, 54);
}
.container .input{
  margin-bottom: 25px;
}
.container .input .MuiOutlinedInput-root{
  font-size: 30px;
  border-radius: 15px;
  background-color: rgb(216, 221, 219);
  box-shadow: 0px 2px 3px rgb(54, 54, 54);
}
.container .btn{
  padding: 12px;
  font-size: 20px;
}
 .container .count-btn{
  background-color: #fff;
  color: black;
}
.container .count-btn:hover{
   background-color: #d4d4d4;

 }
 .container .arthmatic-btn{
   background-color:rgb(27, 77, 103);
  }
  .container .arthmatic-btn:hover{
  background-color:rgb(29, 94, 130);

 }
 .container .equal-btn{
   background-color: rgb(105, 169, 42);
  }
  .container .equal-btn:hover{
  background-color: rgb(89, 142, 35);
 }
 .container .reset-btn{
  background-color: orange;
}
.container .reset-btn:hover{
  background-color: rgb(228, 148, 1);
  
 }

 @media (max-width : 1300px) {
  .container{
    width: 30%;
  }
 }
 @media (max-width : 900px) {
  .container{
    width: 40%;
  }
 }
 @media (max-width : 700px) {
  .container{
    width: 50%;
  }
 }
 @media (max-width : 550px) {
  .container{
    width: 75%;
  }
 }